In [2]:
import pandas

In [3]:
df = pandas.read_csv("year_2021.csv")
#df = pandas.read_csv("year_2021.csv")[["name", "description"]].to_csv("year_2021_cut.csv")
#Если нету базы, выполни строчку выше и будет тебе счастье

C:\Users\BoilingMachine\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (27) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [10]:
data = df[["name", "description"]]
data

,name,description
0,PHP Веб-разработчик Bitrix24,<p><strong>Факт </strong>- лидер рынка веб-инт...
1,Инженер-программист,<strong>Обязанности:</strong> <ul> <li>Выполне...
2,Ведущий специалист (Отдел технического обслужи...,<strong>Обязанности:</strong> <ul> <li>Монитор...
3,Разработчик ETL,"<p>Компания «Сбербанк», блок Технологии, сейча..."
4,PHP разработчик / PHP Developer (удаленно),<p>С 2005 года наша команда занимается цифрово...
...,...,...
229090,Аналитик CRM системы,<strong>Обязанности:</strong> <ul> <li> <p>Уча...
229091,"Руководитель интернет-магазина (e-commerce, fa...","<p>Наконец-то, мы запускаем полноценный интерн..."
229092,Оператор технической поддержки,<strong>Обязанности:</strong> <p>-Анализ техни...
229093,Инсталлятор,<strong>Обязанности:</strong> <ul> <li>подключ...
229094,ИТ ДИРЕКТОР ( Логистический стартап федерально...,<p> </p> <p><strong>Вакансия ИТ Директор</stro...

In [5]:
import csv
from ast import literal_eval

In [8]:
value = []
value_counter = []
data = literal_eval(open("synonims.txt", "r", encoding='utf-8').read())
for key in data.keys():
    counter = 0
    with open("year_2021_cut.csv", encoding='utf-8') as r_file:
        for row in csv.reader(r_file):
            if len(row) == 0:
                continue
            for i in data.get(key):
                for j in row:
                    if i.lower() in j.lower():
                        counter += 1
    value.append(f'{key} {counter}')
    value_counter.append(counter)
print(value)
print(value_counter)
#Надо проверить корректность кода

['Базы данных 3780', 'Ахмет 3', 'JavaScript 20983', 'HTML и CSS 9648']
[3780, 3, 20983, 9648]