Импортируем нужные модули:

Pandas - для обработки таблиц  
CSV - для открытия csv таблиц  
literal_eval - для конвертации txt файлов, в словари Python

In [1]:
import pandas
import csv
from ast import literal_eval

Открываем базу

In [2]:
df = pandas.read_csv("year_2021.csv")
#df = pandas.read_csv("year_2021.csv")[["name", "description"]].to_csv("year_2021_cut.csv")
#Если нету базы, выполни строчку выше и будет тебе счастье

C:\Users\BoilingMachine\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (27) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Оставляем колонки с названием вакансий и их описанием

In [3]:
data = df[["name", "description"]]
data

,name,description
0,PHP Веб-разработчик Bitrix24,<p><strong>Факт </strong>- лидер рынка веб-инт...
1,Инженер-программист,<strong>Обязанности:</strong> <ul> <li>Выполне...
2,Ведущий специалист (Отдел технического обслужи...,<strong>Обязанности:</strong> <ul> <li>Монитор...
3,Разработчик ETL,"<p>Компания «Сбербанк», блок Технологии, сейча..."
4,PHP разработчик / PHP Developer (удаленно),<p>С 2005 года наша команда занимается цифрово...
...,...,...
229090,Аналитик CRM системы,<strong>Обязанности:</strong> <ul> <li> <p>Уча...
229091,"Руководитель интернет-магазина (e-commerce, fa...","<p>Наконец-то, мы запускаем полноценный интерн..."
229092,Оператор технической поддержки,<strong>Обязанности:</strong> <p>-Анализ техни...
229093,Инсталлятор,<strong>Обязанности:</strong> <ul> <li>подключ...
229094,ИТ ДИРЕКТОР ( Логистический стартап федерально...,<p> </p> <p><strong>Вакансия ИТ Директор</stro...

Код, обрабатывающий базу за определенный год, путем поиска совпадений в базе синонимов

In [8]:
value = []
value_counter = []
data = literal_eval(open("tools_synonims.txt", "r", encoding='utf-8').read())
for key in data.keys():
    counter = 0
    with open("year_2021_cut.csv", encoding='utf-8') as r_file:
        for row in csv.reader(r_file):
            for i in data.get(key):
                for j in row:
                    if i.lower() in j.lower():
                        counter += 1
    value.append(f'{key} {counter}')
    value_counter.append(counter)
print(value)
print(value_counter)
#Надо проверить корректность кода

['Базы данных 120891\n', 'HTML 23264\n', 'CSS 20522\n', 'JavaScript 62099\n', 'Apple 4740\n', 'Бизнес-логика 3298\n', 'Контроль версий 52527\n', 'PHP 22974\n', 'Basic 1105\n', 'Java 41569\n', 'C++ 217152\n', 'C# 20236\n', 'Python 32690\n', 'Конвертация 16398\n', 'Мобилки 6412\n', 'Пакеты Office 4882\n', 'Go 33884\n', 'Управление проектами 28133\n', '1C 4411\n', 'API-Архитектура 51980\n', 'Языки 32132\n', 'Аналитика 4594\n', 'Операционные системы 65862\n', 'Дизайн 71443\n', 'Тестирование 370\n', 'Языки разметки 12329\n', 'CRM 6138\n', 'Облачные платформы 11943\n']
[120891, 23264, 20522, 62099, 4740, 3298, 52527, 22974, 1105, 41569, 217152, 20236, 32690, 16398, 6412, 4882, 33884, 28133, 4411, 51980, 32132, 4594, 65862, 71443, 370, 12329, 6138, 11943]